.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table  {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
}
.desc{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  align-content: space-around; 
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  .bg{
    display: flex;
  }
  .desc{
    margin-left: 10px;
  }
  .mobile-table{
    margin-left: 50%;
    margin-right: 50%;
  }
  .styled-table{
    min-width: 300px;
  }
}