/* @import '~antd/dist/antd.css'; */

body,
html {
  /* background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%); */
  background-color: black;
  /* background-repeat:repeat-x; */
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-weight:100;
}

div {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

div::after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

div::before {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

h2{
  color: orangered;
}