
body,
html {
  background-color: #1B1B1B;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-weight:100;
  /* overflow-y: hidden; */
  overflow-x: hidden;
}

h2{
  color: orangered;
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after
{
   border-top: 1px solid red;
}
#analysis{
  margin: 1rem;
}